<%- include('template/header',{tituloWeb:'Asignar mascota'}); %>

<div class="container">

  <div class="d-flex mb-3 align-items-center">
    <div class="me-auto p-2">
      <h1><%= modulo %></h1>
    </div>
    <div class="p-2">
      <a href="/servicios" class="btn btn-secondary" title="Regresar"><i class="fa-solid fa-arrow-left-long"></i></a>
    </div>
  </div>
    
  <form action="/asignarServicio" method="post">
    <div class="mb-3">
      <select name="idCliente" id="idCliente" class="form-select">
        <option selected>Seleccione un cliente</option>
      <% if(arrayClientes.length>0) { %>
        <% let cont = 0; %>
          <% arrayClientes.forEach(cliente => { %>
              <option value="<%= cliente.id %>"><%= arrayClienteMascota[cont] %></option>
          <% cont++; })%>
      <%}%>
      </select>
    </div>
    <div class="mb-3">
          <select name="idServicio" id="idServicio" class="form-select">
            <option selected>Seleccione un servicio</option>
        <% if(arrayServicios.length>0) { %>
            <% arrayServicios.forEach(servicio => { %>
                <option value="<%= servicio.id %>"><%= servicio.descripcion %></option>
            <%})%>
        <%}%>
        </select>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-info text-white fs-5 float-end">Agregar</button>
    </div>
  </form>

</div>

<%- include('template/footer'); %>