<%- include('template/header', {tituloWeb: 'Detalle'}); %>

<div class="container">

    <div class="d-flex mb-3 align-items-center">
        <div class="p-2">
          <h1>Detalle propietario</h1>
        </div>
        <div class="ms-auto p-2">
          <a href="/mascotas" class="btn btn-secondary" title="Regresar"><i class="fa-solid fa-arrow-left-long"></i></a>
        </div>
      </div>

    <% if (error) { %>
        <%= mensaje %>
    <% } else { %>

        <form id="editar" data-id="<%= mascota.id %>">
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" value="<%= mascota.nombre %>" id="nombre" name="nombre">
            </div>
            <div class="mb-3">
                <label for="descripcion" class="form-label">Descripci&oacute;n</label>
                <input type="text" class="form-control" value="<%= mascota.descripcion %>" id="descripcion" name="descripcion">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-warning fs-5 float-end">Editar</button>
              </div>
        </form>
    <% } %>
</div>

<script>
    formEdit = document.getElementById('editar');
    formEdit.addEventListener('submit', async (e) => {
        e.preventDefault();
        const nombre = formEdit.elements['nombre'].value;
        const descripcion = formEdit.elements['descripcion'].value;
        const id = formEdit.dataset.id;
        const data = await fetch(`/mascotas/${id}`, {
            method: 'PUT',
            headers: {
                'content-type': 'application/json' 
            },
            body: JSON.stringify({nombre, descripcion})
        })
        const res = await data.json();

        if (res.estado) {
            window.location.href = '/mascotas';
        } else {
            console.log(e);
        }
    })
</script>

<%- include('template/footer'); %>